<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.bngel.bngelbookbillprovider8008.dao.BillDao">

    <insert id="saveBill">
        insert into bngel_bill(`type`,`balance`,`account_id`,`book_id`,`tags`,`create_time`,`io`)
        values (#{bill.type}, #{bill.balance}, #{bill.accountId}, #{bill.bookId}, #{bill.tags},
        <if test="bill.createTime == null">now()</if>
        <if test="bill.createTime != null">#{bill.createTime}</if>, #{bill.io});
    </insert>

    <delete id="deleteBillById">
        delete from bngel_bill where `id`=#{id};
    </delete>

    <update id="updateBillById">
        update bngel_bill
        <set>
            <if test="bill.type!=null">`type`=#{bill.type},</if>
            <if test="bill.balance!=null">`balance`=#{bill.balance},</if>
            <if test="bill.tags!=null">`tags`=#{bill.tags},</if>
            <if test="bill.io!=null">`io`=#{bill.io}</if>
        </set>
        where `id`=#{bill.id};
    </update>

    <select id="getBillById" resultType="cn.bngel.bngelbookcommonapi.bean.Bill">
        select * from bngel_bill where `id`=#{id};
    </select>

    <select id="getBillsByBookId" resultType="cn.bngel.bngelbookcommonapi.bean.Bill">
        select * from bngel_bill where `book_id`=#{bookId} order by `create_time` desc;
    </select>

    <select id="getBillsByAccountId" resultType="cn.bngel.bngelbookcommonapi.bean.Bill">
        select * from bngel_bill where `account_id`=#{accountId} order by `create_time` desc;
    </select>

    <select id="getMonthBillsByBookId" resultType="cn.bngel.bngelbookcommonapi.bean.Bill">
        select * from bngel_bill where month(`create_time`) = #{month} and year(`create_time`) = year(now()) and `book_id` = #{bookId};
    </select>
</mapper>